<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="visor-account">
  <template >
    <style>
      :host {
        display: block;

      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <iron-ajax
      auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v1/account/{{id}}"
      handle-as="json"
      on-response="showData"></iron-ajax>
      <template is="dom-repeat" items="{{account}}">
        <h2 class="Col-2 " >Cuenta {{item.IBAN}}</h2>
        <h3 class="Col-2 ">Balance {{item.balance}}</h3>
      </template>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorAccount extends Polymer.Element {
      static get is() { return 'visor-account'; }
      static get properties() {
        return {
        userid :{
          type: Number
        }
          ,account: {
              type: Array
            }

        };
      }

      showData(data){
        console.log("showData");

      /*  this.iban = account[0].IBAN;
        this.balance = account[0].balance;*/
        this.account = data.detail.response;

      }
    }

    window.customElements.define(VisorAccount.is, VisorAccount);
  </script>
</dom-module>
